[Unit]
Description=Execute Drush cron for %s every 5 minutes

[Timer]
OnCalendar=*-*-* *:00/05:00
Unit=drush-cron.service

[Install]
WantedBy=multi-user.target
