[Unit]
Description=Drush Cron for %s

[Service]
Type=oneshot
ExecStart=/bin/bash --login -c "/usr/local/bin/drush @%s cron"
User=%s

[Install]
WantedBy=multi-user.target
